/* Basic layout */

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


/* Background image */
body{
    background-image: url('/img/burger-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Title */
h1{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30pt;
}


/* Main area */
main{
    height: 92.5%;
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
}


/* Tables */
table{
    display: inline-block;
    width: 49%;
    padding: 10px;
    vertical-align:top
}

tbody{
    display: table;
    width: 100%;
}

td{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Undevoured burgers */
span{
    flex: 1;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(250, 171, 1);
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: larger;
    color: rgb(95, 34, 19);
}

td div{
    margin: auto;
}

/* Devour button */

td button{
    height: 40px;
    background-color: rgba(247, 58, 0, 0.986);
    border: none;
    color: white;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
}

/* Devoured burgers */
.devoured{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(96, 192, 66);
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: larger;
    color: rgb(61, 41, 11);
}


/* Form */

form{
    margin: 10px;
}

input:active, input:focus{
    outline: none !important;
}

input{
    width: 40%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: larger;
}

form button{
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: larger;
    border-radius: 5px;
}